sudo: false
language: go
git:
    submodules: false
install:
    - go get -v github.com/gohugoio/hugo
script:
    - hugo
    - echo 'Hugo build done!'
deploy:
    provider: pages
    skip_cleanup: true
    github_token: $github_token
    on:
        branch: master
    local_dir: public
    repo: bytemode/bytemode.github.io
    target_branch: master
    email: sunfeng45@163.com
    name: bytemode
    local-dir: public_github