sudo: false
language: go
git:
    submodules: false
install:
    - go get -v github.com/gohugoio/hugo
script:
    - hugo
    - echo 'Hugo build done!'
    - echo '$GITHUB_TOKEN'
deploy:
    provider: pages
    skip_cleanup: true
    github_token: $GITHUB_TOKEN
    on:
        branch: master
    local_dir: public
    repo: bytemode/bytemode.github.io
    fqdn: blog.chuangyutime.com
    target_branch: master
    email: sunfeng45@163.com
    name: bytemode
    local-dir: public_github
    keep_history: true